* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid black;
}

.logo h1 {
    font-size: 24px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
}

.search-bar input {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0;

}
.search-bar button img {
    width: 20px;
    margin:0;
    border: none;
}
.search-bar button {
    margin: 0;
    border-radius: 40%;
    padding: 4px;
    border: none;
}

.contact-cart a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-align: center;
}

.contact-cart img {
    width: 24px;
    height: 24px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product {
    text-align: center;
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 15px;
    max-width: 250px;
    margin: auto;
    background: linear-gradient(gray , transparent);
}

.product img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.product p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.product p:last-child {
    font-weight: bold;
    margin-top: 5px;
}
.chartbuy {
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
    background:linear-gradient(#b8b8b8 1%,transparent) ; 
}
